<main>
  <h2>{{title}}</h2>
  <p>After graduating from high school, I decided to dive into the world of
    programming through Gateway Technical College. In doing so, I fell in love
    with programming after I created a Python program that played a musical
    scale back to the user. Not only does programming enable me to express my
    creativity, but to also come up with solutions for complex problems. From
    there, I aspire to be a web developer as I continuously learn the knowledge
    and skills to get there.</p>
</main>