<main class="ajax">
  <div><p>
      Here is your current shopping cart. Click on the edit button to edit a
      book's fields. Click on the delete button to delete that book from the
      cart. Click on the delete all button to empty the cart.
    </p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Year</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div id="long-button-container">
      <button class="utility-btn" id="add-btn">Add New</button>
      <button id="delete-all-btn">Delete All</button>
    </div></div>

  <script src="js/ajaxMain.js" type="module"></script>
</main>