<main class="ajax">
  <div>
    <form action="" method="post">
      <div class="form-header">
        <h2>Update Book</h2>
        <hr />
      </div>
      <div class="form-body">
        <div class="label-input">
          <label for="title">Title</label>
          <input type="text" />
        </div>
        <div class="label-input">
          <label for="title">Author</label>
          <input type="text" />
        </div>
        <div class="label-input">
          <label for="title">Publisher</label>
          <input type="text" />
        </div>
        <div class="label-input">
          <label for="title">Year</label>
          <input type="number" />
        </div>
        <button type="submit" class="utility-btn">Update</button>
      </div>
      <hr />
    </form>
  </div>
  <script src="js/ajaxUpdate.js" type="module"></script>
</main>