<main>
  <h2>{{title}}</h2>

  <ul style="list-style-type: none; padding:0rem;">
    <li>Email: laufenbn1@mail.gtc.edu</li>
    <li>Github: NickLauf2022</li>
    <li>Phone: 262-325-9970</li>
  </ul>
</main>